#m1 a{text-decoration:none; color:#fff}
#m2 a{text-decoration:none; color:#fff}
#m3 a{text-decoration:none; color:#fff}
#m4 img{width:1900px;}
#m5{font-family:"黑体"}
#cc a{text-decoration:none; color:#fff;margin:20px;}
#aa a{text-decoration:none; color:#fff; font-weight:lighter; margin:30px;}
.a12{margin-top:90px;}
#bb1{height:312.5px;width:407px}
.aa img{margin:-10px;padding:0px;width:750px}
.aa {margin:10px;}
#aa{height:60px;width:1900px;background:#b40001;font-size:20px; margin-top:20px;}
#bb{background:#000000;width:1900px;height:44px; font-size:13px;line-height:40px;position:fixed; }
#dd{background:#000;color:#fff;width:1900px;height:1000px}
#ee{background:#1d1d1d;width:1900px;height:1000px}
#ee span a{margin:150px}
#c11{color:#fff}
#dd1{width:1900px;height:100px;color:#fff;background:#000;margin-top:-10px;}
#m1{color:#fff}
/*#a1{height:10px;width:0px;position:absolute}*/
#a2{position:absolute;right:20px; position:fixed;
    top:200px;}
#a3{position:absolute;left:5px;position:fixed;
    top:200px;}
#n2{font-weight:lighter;}
#z1{color:#b40001;}
#h1{color:gray}
#n1{color:#AE9A7F; font-size:50px;width:1900px;}
.t2{font-size:22px;color:#94E6FE;}
#o1{color:#B59848; font-size:50px;}
#p1{color:#4A7E67; font-size:50px;}
#w1{color:#b40001; font-size:50px;}
#top{
    width:1500px;
    height:60px;
    background:#ddd;
}
#top>ul>li>a{
    float:left;
    width:200px;
    height:60px;
    text-decoration:none;
    font-size:20px;
    text-align:center;
    line-height:24px;
    color:#73AA6F;
    margin:20px;

}
#demo{width:1900px;}
.t1 img{
    width:1900px;
}
